@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.container-fluid-footer {
    overflow: hidden;
    background: #262626;
    color: #627482 !important;
    height: 180px;
    padding: 0px 0px 0px 0px;
    margin-top: 10%;
}

